.navbar-top-container {
  height: 56px;
  align-content: center;
  position: fixed;
  width: 100%;
  background-color: #202124;
  color: #9aa0a6;
}

.navbar-top-content {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.navbar-L {
  display: flex;
}

.navbar-M {
  display: flex;
}
.search-container {
  display: flex;
}

.navbar-R {
  display: flex;
}
