/* ICONS */

.form-actions {
  display: flex;
}

.icon {
  color: #9aa0a6;
}

/* FORM INPUTS */

.form-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 15px;
}

.input-title {
  font-size: 20px;
}

/* INACTIVE NOTE */

.inactive-note {
  display: flex;
  width: 598px;
  height: 50px;
  border: #9aa0a6 1px solid;
  border-radius: 10px;
  padding: 12px 16px;
  justify-content: space-between;
}

/* ACTIVE NOTE */

.active-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 598px;
  height: 135px;
  border: #9aa0a6 1px solid;
  border-radius: 10px;
  padding: 12px 16px;
}

.active-form-actions {
  display: flex;
  justify-content: space-between;
}
.active-form-inputs form {
  display: flex;
  flex-direction: column;
}
