* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial, sans-serif;
}

main {
  position: relative;
  top: 48px;
  background-color: blue;
  display: flex;
}

/* .main-area {
  width: 100%;
} */
